<h1>About Bloccit</h1>
<p>Created by: Beth G.</p>

<%= button_to "http://twitter.com/gilomen2", :class => "social-btn", :method => "get" do%>
<div class="button-icon left">
  <i class="fa fa-twitter"></i>
</div>
<div class="left">
  Follow Me<br><span class='sub-follow'> on twitter</span>
</div>
<% end %>
